.blog-post .content__blog--box {
  border: 0; }

.content {
  display: flex; }
  .content__blog {
    width: 75%;
    padding: 0 35px 0 0; }
    .content__blog--box {
      padding: 20px 0px; }
      .content__blog--box .title {
        width: 50%; }
        .content__blog--box .title h3 {
          text-transform: uppercase;
          font-weight: normal;
          margin-bottom: 10px;
          margin-top: 0; }
        .content__blog--box .title .day {
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 8px; }
      .content__blog--box img {
        width: 100%;
        height: 360px; }
      .content__blog--box .box-content p {
        color: #c2c2c2;
        font-size: 15 px;
        line-height: 20px; }
      .content__blog--box .box-content br {
        margin-bottom: 20px; }
    .content__blog--fb-like i {
      background-color: #1361d4;
      padding: 2px;
      border-radius: 2px;
      margin-top: 2px;
      font-size: 12px;
      color: #ffff; }
      .content__blog--fb-like i span {
        padding-left: 5px; }
    .content__blog--reviews {
      margin-top: 50px; }
      .content__blog--reviews h3 {
        font-weight: normal;
        margin-bottom: 10px; }
      .content__blog--reviews .box-reviews {
        background-color: #eee;
        padding: 20px;
        margin-bottom: 10px; }
        .content__blog--reviews .box-reviews h4 {
          margin: 0;
          font-size: 13px;
          margin-bottom: 10px; }
        .content__blog--reviews .box-reviews .content-reviews p {
          font-size: 13px;
          color: #888; }
        .content__blog--reviews .box-reviews .day-rep {
          display: flex;
          justify-content: space-between; }
          .content__blog--reviews .box-reviews .day-rep .day {
            font-size: 13px;
            color: #888; }
          .content__blog--reviews .box-reviews .day-rep .rep {
            font-size: 13px; }
      .content__blog--reviews .box-rep {
        width: 85%;
        margin: auto 15%; }
      .content__blog--reviews .write-review {
        border: 1px solid black;
        margin-top: 30px;
        padding: 30px 25px 20px 30px; }
        .content__blog--reviews .write-review h2 {
          font-weight: normal;
          font-size: 18px; }
        .content__blog--reviews .write-review h4 {
          margin-bottom: 0;
          font-weight: normal;
          font-size: 13px; }
        .content__blog--reviews .write-review .write-name {
          margin-bottom: 15px; }
          .content__blog--reviews .write-review .write-name input {
            width: 100%;
            height: 25px; }
        .content__blog--reviews .write-review .write-text {
          margin-bottom: 15px; }
          .content__blog--reviews .write-review .write-text input {
            width: 100%;
            height: 65px; }
        .content__blog--reviews .write-review .submit {
          display: flex;
          justify-content: flex-end; }
          .content__blog--reviews .write-review .submit a {
            padding: 8px 15px;
            font-size: 12px;
            background-color: #000000;
            color: #ffff; }
  .content__sidebar {
    width: 25%;
    padding: 20px 0px; }
    .content__sidebar .blog-post-sidebar {
      border: 1px solid #eee;
      padding: 20px; }
      .content__sidebar .blog-post-sidebar h3 {
        font-weight: 100;
        font-size: 15px; }
      .content__sidebar .blog-post-sidebar ul {
        padding: 0; }
        .content__sidebar .blog-post-sidebar ul li {
          list-style: none;
          padding: 8px 0;
          text-transform: uppercase;
          font-size: 13px; }
      .content__sidebar .blog-post-sidebar .icon-toggle {
        display: none; }
    .content__sidebar--labels {
      border: 1px solid #eee;
      margin-top: 20px;
      padding: 20px; }
      .content__sidebar--labels .font12 {
        font-size: 12px; }
      .content__sidebar--labels .font18 {
        font-size: 18px; }
      .content__sidebar--labels .font12 {
        font-size: 14px; }

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .content {
    flex-direction: column-reverse; }
    .content__sidebar {
      width: 100%; }
      .content__sidebar--labels {
        display: none; }
      .content__sidebar .blog-post-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 15px; }
        .content__sidebar .blog-post-sidebar h3 {
          margin: 0; }
        .content__sidebar .blog-post-sidebar ul {
          display: none; }
        .content__sidebar .blog-post-sidebar .icon-toggle {
          display: flex;
          font-size: 11px; }
          .content__sidebar .blog-post-sidebar .icon-toggle i {
            padding: 3px;
            border: 1px solid #eee; }
    .content__blog {
      width: 90%;
      margin: 0 auto;
      padding: 0; }
      .content__blog--box .title {
        width: 100%; } }
@media only screen and (min-width: 320px) and (max-width: 759px) {
  .navigation a {
    display: none; }

  .content {
    flex-direction: column-reverse; }
    .content__sidebar {
      width: 100%; }
      .content__sidebar--labels {
        display: none; }
      .content__sidebar .blog-post-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 15px; }
        .content__sidebar .blog-post-sidebar h3 {
          margin: 0; }
        .content__sidebar .blog-post-sidebar ul {
          display: none; }
        .content__sidebar .blog-post-sidebar .icon-toggle {
          display: flex;
          font-size: 11px; }
          .content__sidebar .blog-post-sidebar .icon-toggle i {
            padding: 3px;
            border: 1px solid #eee; }
    .content__blog {
      width: 90%;
      margin: 0 auto;
      padding: 0; }
      .content__blog--box .title {
        width: 100%; }
      .content__blog--box img {
        height: 200px; } }

/*# sourceMappingURL=blog_post.css.map */
