.cart-top {
  border: 1px solid #888; }
  .cart-top__title {
    text-align: center; }
    .cart-top__title h2 {
      border-bottom: 1px solid #888;
      font-weight: normal;
      padding: 10px 0;
      margin: 0; }
  .cart-top__product {
    display: flex; }
    .cart-top__product h3 {
      margin: 0;
      font-weight: normal;
      font-size: 13px;
      padding: 15px 0 15px 30px; }
    .cart-top__product p {
      margin: 0; }
    .cart-top__product .product-row-1 {
      display: flex;
      background-color: #eee;
      height: 145px;
      margin-bottom: 15px; }
    .cart-top__product--avatar {
      width: 40%; }
      .cart-top__product--avatar img {
        display: flex;
        background-color: #eee;
        padding: 15px 15px 15px 30px; }
      .cart-top__product--avatar .avt-text {
        padding: 15px;
        font-size: 12px;
        font-weight: bold;
        position: relative; }
        .cart-top__product--avatar .avt-text p {
          margin: 0;
          padding-bottom: 10px; }
        .cart-top__product--avatar .avt-text a {
          position: absolute;
          bottom: 0;
          padding-bottom: 15px;
          color: #000f;
          font-weight: normal; }
      .cart-top__product--avatar .avt-close {
        padding: 15px; }
    .cart-top__product--price {
      width: 20%; }
      .cart-top__product--price p {
        padding: 15px 0 0 30px; }
    .cart-top__product--quantity {
      width: 20%; }
      .cart-top__product--quantity .quantity-text {
        display: flex;
        padding: 15px 0 0 30px; }
        .cart-top__product--quantity .quantity-text .quantity-number p {
          padding: 5px 15px;
          background-color: white;
          font-size: 12px; }
        .cart-top__product--quantity .quantity-text .quantity-icon {
          display: block;
          padding: 5px 5px 0 12px; }
          .cart-top__product--quantity .quantity-text .quantity-icon i {
            display: block;
            font-size: 10px; }
        .cart-top__product--quantity .quantity-text a {
          font-size: 12px;
          padding: 5px 0 0 15px;
          color: #000f;
          font-weight: normal; }
    .cart-top__product--amount {
      width: 20%; }
      .cart-top__product--amount p {
        padding: 15px 0 0 30px; }
  .cart-top__mbproduct {
    display: none; }

.cart-get__pay {
  display: flex;
  margin-top: 20px; }
  .cart-get__pay h3 {
    margin: 0;
    font-size: 13px;
    padding-bottom: 15px; }
  .cart-get__pay .group-pay {
    width: 65%; }
    .cart-get__pay .group-pay .pay-top {
      display: flex; }
      .cart-get__pay .group-pay .pay-top__delivery {
        border: 1px solid #888;
        width: 60%;
        padding: 15px 20px; }
        .cart-get__pay .group-pay .pay-top__delivery h3 span {
          display: block;
          font-size: 11px;
          font-weight: normal;
          line-height: 30px; }
        .cart-get__pay .group-pay .pay-top__delivery select {
          width: 100%;
          height: 30px;
          border-radius: 15px;
          margin-bottom: 10px; }
        .cart-get__pay .group-pay .pay-top__delivery .get-quote {
          display: flex;
          justify-content: space-between; }
          .cart-get__pay .group-pay .pay-top__delivery .get-quote input {
            width: 45%;
            height: 25px;
            font-size: 12px;
            text-indent: 10px; }
          .cart-get__pay .group-pay .pay-top__delivery .get-quote a {
            background: #000f;
            font-size: 10px;
            text-decoration: none;
            color: #fff;
            padding: 10px 20px; }
      .cart-get__pay .group-pay .pay-top__voucher {
        margin: 0px 15px;
        width: 40%; }
        .cart-get__pay .group-pay .pay-top__voucher .voucher-seach {
          border: 1px solid;
          padding: 15px 20px; }
          .cart-get__pay .group-pay .pay-top__voucher .voucher-seach p {
            display: flex; }
            .cart-get__pay .group-pay .pay-top__voucher .voucher-seach p input {
              height: 25px;
              text-indent: 10px;
              width: 100%; }
            .cart-get__pay .group-pay .pay-top__voucher .voucher-seach p i {
              margin: 6px 0 0 -15px; }
        .cart-get__pay .group-pay .pay-top__voucher .voucher-help {
          padding: 20px 20px; }
          .cart-get__pay .group-pay .pay-top__voucher .voucher-help p {
            margin: 0;
            font-size: 13px;
            line-height: 20px; }
    .cart-get__pay .group-pay__check {
      display: flex;
      justify-content: space-between;
      padding-top: 30px; }
      .cart-get__pay .group-pay__check a {
        padding: 5px 80px;
        font-size: 13px; }
      .cart-get__pay .group-pay__check .continue {
        border: 1px solid #888; }
      .cart-get__pay .group-pay__check a:last-child {
        background-color: #000f;
        color: #ffff;
        text-decoration: none;
        padding: 5px 110px;
        margin-right: 30px; }
  .cart-get__pay .group-pay-right {
    width: 35%; }
    .cart-get__pay .group-pay-right__total {
      padding: 15px 30px; }
      .cart-get__pay .group-pay-right__total h3 {
        padding: 0; }
      .cart-get__pay .group-pay-right__total p {
        margin: 0; }
      .cart-get__pay .group-pay-right__total .row-total {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px; }
      .cart-get__pay .group-pay-right__total .total-tax {
        padding-top: 25px;
        border-top: 1px solid; }
    .cart-get__pay .group-pay-right__check {
      display: flex;
      justify-content: center;
      margin-top: 60px; }
      .cart-get__pay .group-pay-right__check a {
        padding: 5px 80px;
        font-size: 13px; }
      .cart-get__pay .group-pay-right__check .continue {
        border: 1px solid #888;
        display: none; }
      .cart-get__pay .group-pay-right__check a:last-child {
        background-color: #000f;
        color: #ffff;
        text-decoration: none;
        padding: 5px 110px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%; }

  .cart-top__product {
    display: none; }
  .cart-top__mbproduct {
    display: block; } }
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .cart-top {
    margin-top: 30px !important; }

  .cart-get__pay .group-pay {
    width: 50%; }
    .cart-get__pay .group-pay .pay-top {
      display: block; }
      .cart-get__pay .group-pay .pay-top__delivery {
        width: auto; }
      .cart-get__pay .group-pay .pay-top__voucher {
        width: 100%;
        margin: 10px 0 0 0; }
        .cart-get__pay .group-pay .pay-top__voucher .voucher-help {
          display: none; }
    .cart-get__pay .group-pay__check {
      display: none; }
  .cart-get .group-pay-right {
    width: 50%; }
    .cart-get .group-pay-right__check {
      display: block;
      margin: 0;
      padding: 30px; }
      .cart-get .group-pay-right__check .continue {
        display: block; }
      .cart-get .group-pay-right__check a {
        display: block; }
        .cart-get .group-pay-right__check a:last-child {
          margin-top: 10px; } }

/*# sourceMappingURL=cart.css.map */
