.main-category {
  display: flex; }
  .main-category__sidebar {
    width: 20%; }
    .main-category__sidebar h3 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      color: #333; }
    .main-category__sidebar i {
      font-size: 13px;
      color: #333; }
    .main-category__sidebar h4 {
      font-size: 13px;
      color: #333;
      font-weight: bold; }
    .main-category__sidebar li {
      list-style: none;
      color: #333; }
    .main-category__sidebar--menu-women {
      border: 1px solid #eee;
      padding: 10px; }
      .main-category__sidebar--menu-women .title {
        display: flex;
        justify-content: space-between; }
      .main-category__sidebar--menu-women .list-women ul {
        padding: 20px 0 0 20px;
        margin: 0; }
        .main-category__sidebar--menu-women .list-women ul li {
          font-size: 13px;
          font-weight: bold; }
          .main-category__sidebar--menu-women .list-women ul li:not(:last-child) {
            padding-bottom: 10px; }
    .main-category__sidebar--menu-category {
      margin-top: 20px; }
      .main-category__sidebar--menu-category .group-category {
        border: 1px solid #eee;
        padding: 10px; }
      .main-category__sidebar--menu-category p {
        margin: 0;
        padding: 10px 0;
        font-size: 10px;
        color: #888; }
      .main-category__sidebar--menu-category .title {
        display: flex;
        justify-content: space-between; }
      .main-category__sidebar--menu-category .list-category {
        padding-left: 20px; }
        .main-category__sidebar--menu-category .list-category ul.list {
          padding-left: 15px; }
          .main-category__sidebar--menu-category .list-category ul.list li {
            font-size: 12px;
            padding-bottom: 10px; }
    .main-category__sidebar--checkbox {
      border: 1px solid #eee;
      padding: 10px;
      margin-top: 20px; }
      .main-category__sidebar--checkbox .title {
        display: flex;
        justify-content: space-between; }
      .main-category__sidebar--checkbox .list-check {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #543e3e; }
        .main-category__sidebar--checkbox .list-check .checkboxFive {
          padding: 5px 0; }
      .main-category__sidebar--checkbox .list-check-one {
        justify-content: normal !important;
        padding-left: 20px; }
    .main-category__sidebar--banner {
      margin-top: 40px; }
      .main-category__sidebar--banner img {
        width: 100%; }
  .main-category__content {
    width: 80%;
    padding-left: 35px; }
    .main-category__content--title {
      display: flex; }
      .main-category__content--title .number {
        width: 10%;
        margin: 26px 0;
        text-align: right;
        font-size: 12px;
        color: #888; }
      .main-category__content--title .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        text-align: left;
        height: 1.5em;
        opacity: 0.5;
        font-size: 20px;
        font-family: serif;
        margin: 20px 0;
        width: 90%; }
        .main-category__content--title .hr-text:before {
          content: "";
          background: linear-gradient(#818078, transparent);
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px; }
        .main-category__content--title .hr-text:after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          padding: 0 40px 0 0;
          line-height: 1.5em;
          color: #000;
          background-color: #fcfcfa; }
    .main-category__content--menu {
      display: none; }
    .main-category__content--banner {
      display: flex;
      position: relative; }
      .main-category__content--banner img {
        width: 100%; }
      .main-category__content--banner .content-banner {
        position: absolute;
        transform: translateX(14%) translateY(60%);
        width: 50%;
        height: 50%; }
        .main-category__content--banner .content-banner h1 {
          font-family: serif;
          font-weight: normal; }
        .main-category__content--banner .content-banner p {
          font-size: 12px; }
    .main-category__content--product .statistical-show {
      display: flex; }
      .main-category__content--product .statistical-show p {
        margin: 0;
        padding-right: 10px;
        font-size: 13px; }
      .main-category__content--product .statistical-show select {
        height: 30px;
        font-size: 12px;
        width: 100px;
        text-indent: 3px; }
      .main-category__content--product .statistical-show i {
        padding-left: 10px;
        font-size: 11px; }
      .main-category__content--product .statistical-show .statistical,
      .main-category__content--product .statistical-show .show {
        display: flex;
        align-items: center;
        padding: 10px 30px 0 0; }
      .main-category__content--product .statistical-show .show select {
        width: 60px; }
    .main-category__content--product .row-product {
      padding: 20px 0 20px 0;
      display: flex;
      justify-content: space-between; }
      .main-category__content--product .row-product .detail-product {
        width: 33.3%;
        position: relative; }
        .main-category__content--product .row-product .detail-product:not(:last-child) {
          padding-right: 20px; }
        .main-category__content--product .row-product .detail-product img {
          width: 100%; }
        .main-category__content--product .row-product .detail-product .detail-text {
          text-align: center;
          padding-top: 5px; }
          .main-category__content--product .row-product .detail-product .detail-text h4 {
            margin: 0;
            font-size: 13px;
            font-family: serif; }
          .main-category__content--product .row-product .detail-product .detail-text p {
            margin: 0;
            padding-top: 4px;
            font-size: 13px; }
        .main-category__content--product .row-product .detail-product .icon {
          position: absolute;
          top: 0; }
    .main-category__content--product .product-bottom {
      display: flex;
      justify-content: space-between; }
      .main-category__content--product .product-bottom .pagination {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 15px; }
        .main-category__content--product .product-bottom .pagination li {
          display: inline;
          text-align: center; }
        .main-category__content--product .product-bottom .pagination a {
          float: left;
          display: block;
          font-size: 14px;
          text-decoration: none;
          padding: 1px 6px;
          font-size: 10px;
          margin: 0 5px;
          border: 1px solid;
          color: #fff;
          margin-left: -1px;
          line-height: 1.5; }
        .main-category__content--product .product-bottom .pagination a.active {
          cursor: default; }
        .main-category__content--product .product-bottom .pagination a:active {
          outline: none; }
        .main-category__content--product .product-bottom .pagination .page {
          margin: 0; }
          .main-category__content--product .product-bottom .pagination .page li:first-child a {
            -moz-border-radius: 6px 0 0 6px;
            -webkit-border-radius: 6px;
            border: none; }
          .main-category__content--product .product-bottom .pagination .page li:last-child a {
            -moz-border-radius: 0 6px 6px 0;
            -webkit-border-radius: 0;
            border: none; }
          .main-category__content--product .product-bottom .pagination .page a {
            border-color: #ddd;
            color: #a4a9b1;
            background: #fff; }
          .main-category__content--product .product-bottom .pagination .page a:hover {
            background: #eee; }
          .main-category__content--product .product-bottom .pagination .page a.active {
            border-color: #888;
            color: #000f; }

@media only screen and (min-width: 760px) and (max-width: 1028px) {
  .main-category {
    display: block; }
    .main-category__sidebar {
      display: none; }
    .main-category__content {
      width: 100%;
      padding: 0; }
      .main-category__content--menu {
        width: 100%;
        display: block;
        margin-top: 20px; }
        .main-category__content--menu .title {
          display: flex;
          justify-content: space-between; }
          .main-category__content--menu .title h3 {
            font-family: serif;
            margin: 0;
            font-size: 13px; }
          .main-category__content--menu .title i {
            font-size: 12px; }
        .main-category__content--menu .menu-women {
          border: 1px solid #eee;
          padding: 10px; }
          .main-category__content--menu .menu-women .title h3 {
            margin: 0;
            font-size: 15px;
            font-weight: normal;
            color: #333; }
          .main-category__content--menu .menu-women .title i {
            font-size: 13px;
            color: #333; }
          .main-category__content--menu .menu-women .list-women {
            padding: 20px 0 0 20px;
            margin: 0; }
            .main-category__content--menu .menu-women .list-women ul {
              padding: 0;
              margin: 0; }
              .main-category__content--menu .menu-women .list-women ul li {
                list-style: none;
                padding: 5px 0;
                font-size: 12px; }
        .main-category__content--menu .menu-category {
          margin-top: 15px; }
          .main-category__content--menu .menu-category p {
            display: none; }
          .main-category__content--menu .menu-category .group-category {
            border: 1px solid #ddd;
            padding: 6px 10px;
            border-radius: 25px;
            background-color: #eee; }
            .main-category__content--menu .menu-category .group-category i:hover .list-category:first-child {
              display: block; }
          .main-category__content--menu .menu-category .list-category {
            display: none; }
        .main-category__content--menu .checkbox {
          border: 1px solid #ddd;
          padding: 6px 10px;
          border-radius: 25px;
          background-color: #eee;
          margin-top: 10px; }
          .main-category__content--menu .checkbox .list-check {
            display: none; }
        .main-category__content--menu .reset {
          font-size: 12px;
          text-align: center;
          color: #3e3636ba; }
      .main-category__content--product .statistical-show, .main-category__content--product .product-bottom {
        display: none; } }
@media only screen and (min-width: 320px) and (max-width: 759px) {
  .container {
    width: 95% !important; }

  .main-category {
    display: block; }
    .main-category__sidebar {
      display: none; }
    .main-category__content {
      width: 100%;
      padding: 0; }
      .main-category__content--banner {
        height: 200px; }
        .main-category__content--banner h1 {
          font-size: 25px; }
        .main-category__content--banner p {
          display: none; }
      .main-category__content--menu {
        width: 100%;
        display: block;
        margin-top: 20px; }
        .main-category__content--menu .title {
          display: flex;
          justify-content: space-between; }
          .main-category__content--menu .title h3 {
            font-family: serif;
            margin: 0;
            font-size: 13px; }
          .main-category__content--menu .title i {
            font-size: 12px; }
        .main-category__content--menu .menu-women {
          border: 1px solid #eee;
          padding: 10px; }
          .main-category__content--menu .menu-women .title h3 {
            margin: 0;
            font-size: 15px;
            font-weight: normal;
            color: #333; }
          .main-category__content--menu .menu-women .title i {
            font-size: 13px;
            color: #333; }
          .main-category__content--menu .menu-women .list-women {
            padding: 20px 0 0 20px;
            margin: 0; }
            .main-category__content--menu .menu-women .list-women ul {
              padding: 0;
              margin: 0; }
              .main-category__content--menu .menu-women .list-women ul li {
                list-style: none;
                padding: 5px 0;
                font-size: 12px; }
        .main-category__content--menu .menu-category {
          margin-top: 15px; }
          .main-category__content--menu .menu-category p {
            display: none; }
          .main-category__content--menu .menu-category .group-category {
            border: 1px solid #ddd;
            padding: 6px 10px;
            border-radius: 25px;
            background-color: #eee; }
            .main-category__content--menu .menu-category .group-category i:hover .list-category:first-child {
              display: block; }
          .main-category__content--menu .menu-category .list-category {
            display: none; }
        .main-category__content--menu .checkbox {
          border: 1px solid #ddd;
          padding: 6px 10px;
          border-radius: 25px;
          background-color: #eee;
          margin-top: 10px; }
          .main-category__content--menu .checkbox .list-check {
            display: none; }
        .main-category__content--menu .reset {
          font-size: 12px;
          text-align: center;
          color: #3e3636ba; }
      .main-category__content--product .statistical-show, .main-category__content--product .product-bottom {
        display: none; }
      .main-category__content--product .row-product .detail-product {
        width: 50%; }
        .main-category__content--product .row-product .detail-product:first-child {
          display: none; } }

/*# sourceMappingURL=category.css.map */
