body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Montserrat', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
.clear-box{
	clear: both;
}
/*-- //Reset-Code --*/
.header-banner{
	    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.navigation{
    grid-column: span 12;
	color: white;
    background-color: black;
}
.nav-top{
	grid-column: 4/10;
    display: flex;
    width: 50%;
    margin: 0 auto;
}
.nav-top p{
	text-align: center;
}
.nation{
	flex-grow: 1;
}
.nation ul{
	display: flex;
	margin: 5px 0px;
}
.nation ul li{
	font-size: 9px;
    width: 55px;
    text-align: center;
}
.nation li i{
	margin-left: 2px;
}
.navigation p{
	flex-grow: 1;
	font-size: 10px;
	margin: 3px 0px;
}
.navigation .use{
	flex-grow: 1;
}
.use ul{
	display: flex;
    margin: 5px 0px;
    float: right;
}
.use ul li{
	width: 55px;
    font-size: 9px;
    text-align: right;

}


.logo{
	grid-column: 4/10;
    display: flex;
    justify-content: center;
    position: relative;
    height: 35px;
    margin: 15px 0px;
}
.logo .logo-icon{
	position: absolute;
    right: 0px;
    margin: 10px 10px;
}
.logo-icon ul{
	display: flex;
	right: 0px;
}
.logo-icon ul li{
	font-size: 10px;
	width: 75px;
	border-left: 1px solid black;
    height: 20px;
}
.logo-icon ul li .fas{
	    margin-right: 5px;
}
.logo-icon ul li p{
	margin-left: 10px;
	margin-top: 5px;
}
.menu{
	    grid-column: 5/9;
}
.menu ul{
	display: flex;
}
.menu ul li{
	flex-grow: 1;
	font-size: 12px;
}
.banner{
	grid-column: span 12;
	margin-top: 20px;
	position: relative;
	height: 400px;
}
.banner .bn-text{
	position: absolute;
	top: 30%;
    right: 20%;
}
.bn-text h3{
	font-size: 35px;
}
.bn-text p{
	margin-top: 35px;
}
.bn-text a{
	border: 1px solid black;
    background-color: black;
    color: white;
}
.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu-sli {
  position: absolute;
  left: 0;
    z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu-sli label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 5px;
  background: #fffbfbba;
  margin: 0 .2em 1em;
  
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-4 {
  background-image: url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
}
.slide-2 {
  background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
}
.slide-3 {
  background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
}
.slide-1 {
  background-image: url("..../../../img_home/img_hbannertop.jpg");
}
/* end header */

/* start about */
.about{
	    display: grid;
    grid-template-columns: repeat(12,1fr);
    text-align: center;
}
.about h3{
	grid-column: 4/10;
	    margin: 30px 0px;
}
.about .what-box{
	grid-column: 4/10;
    display: flex;
    justify-content: space-between;
}
.what-box  .wbox{
	width: 32.5%;
	background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
}
.what-box .wbox1{
	background-image: url("..../../../img_home/img_hproduc3.jpg");


}
.what-box .wbox2{
	background-image: url("..../../../img_home/img_hproduc2.jpg");
}
.what-box .wbox3{
	background-image: url("..../../../img_home/img_hproduc1.jpg");
}
.about .box-most{
	    grid-column: 4/10;
}