.header-nav {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 10px; }
  .header-nav__right {
    flex-grow: 1; }
    .header-nav__right ul {
      display: flex;
      padding: 0;
      margin-top: 10px; }
      .header-nav__right ul li {
        list-style: none; }
        .header-nav__right ul li i {
          padding: 0px 15px 5px 5px; }
  .header-nav h3 {
    flex-grow: 1;
    text-align: center;
    color: #ffff;
    margin: 10px 0 0 0; }
  .header-nav__left ul {
    display: flex; }
    .header-nav__left ul li {
      padding: 0px 10px;
      list-style: none;
      border-right: 1px solid #6d5d5d; }
      .header-nav__left ul li:last-child {
        border: none; }

.header-top__logo {
  display: flex;
  position: relative; }
  .header-top__logo--text {
    text-align: center;
    width: 100%; }
  .header-top__logo--right {
    padding: 30px 0px;
    position: absolute;
    right: 0; }
    .header-top__logo--right a {
      border-left: 1px solid #c7b9b9;
      color: #130e0e;
      font-size: 13px;
      padding: 0px 10px; }
      .header-top__logo--right a .fa-shopping-bag {
        color: white;
        background-color: black;
        padding: 5px 6px 7px 6px;
        border-radius: 50%; }
      .header-top__logo--right a .fa-search {
        font-size: 15px; }

.header-menu ul {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  border-bottom: 1px solid #888;
  margin: 0; }
  .header-menu ul li {
    list-style: none;
    padding: 0 20px;
    font-size: 15px; }
.header-menu__icon {
  display: none; }

.navigation {
  display: flex;
  justify-content: space-between; }
  .navigation a {
    font-size: 12px;
    padding: 5px 0; }

.cart {
  border: 1px solid #888; }
  .cart__title {
    text-align: center; }
    .cart__title h2 {
      border-bottom: 1px solid #888;
      font-weight: normal;
      padding: 10px 0;
      margin: 0; }
  .cart__product {
    display: flex; }
    .cart__product h3 {
      margin: 0;
      font-weight: normal;
      font-size: 13px;
      padding: 15px 0 15px 30px; }
    .cart__product p {
      margin: 0; }
    .cart__product .product-row-1 {
      display: flex;
      background-color: #eee;
      height: 145px;
      margin-bottom: 15px; }
    .cart__product--avatar {
      width: 40%; }
      .cart__product--avatar img {
        display: flex;
        background-color: #eee;
        padding: 15px 15px 15px 30px; }
      .cart__product--avatar .avt-text {
        padding: 15px;
        font-size: 12px;
        font-weight: bold;
        position: relative; }
        .cart__product--avatar .avt-text p {
          margin: 0;
          padding-bottom: 10px; }
        .cart__product--avatar .avt-text a {
          position: absolute;
          bottom: 0;
          padding-bottom: 15px; }
      .cart__product--avatar .avt-close {
        padding: 15px; }
    .cart__product--price {
      width: 20%; }
      .cart__product--price p {
        padding: 15px 0 0 30px; }
    .cart__product--quantity {
      width: 20%; }
      .cart__product--quantity .quantity-text {
        display: flex;
        padding: 15px 0 0 30px; }
        .cart__product--quantity .quantity-text .quantity-number p {
          padding: 5px 15px;
          background-color: white;
          font-size: 12px; }
        .cart__product--quantity .quantity-text .quantity-icon {
          display: block;
          padding: 5px 5px 0 12px; }
          .cart__product--quantity .quantity-text .quantity-icon i {
            display: block;
            font-size: 10px; }
        .cart__product--quantity .quantity-text a {
          font-size: 12px;
          padding: 5px 0 0 15px; }
    .cart__product--amount {
      width: 20%; }
      .cart__product--amount p {
        padding: 15px 0 0 30px; }
  .cart__pay {
    display: flex;
    margin-top: 20px; }
    .cart__pay h3 {
      margin: 0;
      font-size: 13px;
      padding-bottom: 15px; }
    .cart__pay--delivery {
      border: 1px solid #888;
      width: 35%;
      padding: 15px 30px; }
      .cart__pay--delivery h3 span {
        display: block;
        font-size: 11px;
        font-weight: normal;
        line-height: 30px; }
      .cart__pay--delivery select {
        width: 100%;
        height: 30px;
        border-radius: 15px;
        margin-bottom: 10px; }
      .cart__pay--delivery .get-quote {
        display: flex;
        justify-content: space-between; }
        .cart__pay--delivery .get-quote input {
          width: 45%;
          height: 25px;
          font-size: 12px;
          text-indent: 10px; }
        .cart__pay--delivery .get-quote a {
          background: #000f;
          font-size: 10px;
          text-decoration: none;
          color: #fff;
          padding: 10px 20px; }
    .cart__pay--voucher {
      margin: 0px 15px;
      width: 25%; }
      .cart__pay--voucher .voucher-seach {
        border: 1px solid;
        padding: 15px 20px; }
        .cart__pay--voucher .voucher-seach p {
          display: flex; }
          .cart__pay--voucher .voucher-seach p input {
            height: 25px;
            text-indent: 10px; }
          .cart__pay--voucher .voucher-seach p i {
            margin: 6px 0 0 -15px; }
      .cart__pay--voucher .voucher-help {
        padding: 20px 20px; }
        .cart__pay--voucher .voucher-help p {
          margin: 0;
          font-size: 13px;
          line-height: 20px; }
    .cart__pay--total {
      width: 35%;
      border: 1px solid;
      padding: 15px 30px; }
      .cart__pay--total h3 {
        padding: 0; }
      .cart__pay--total p {
        margin: 0; }
      .cart__pay--total .row-total {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px; }
      .cart__pay--total .total-tax {
        padding-top: 25px;
        border-top: 1px solid; }
  .cart__check {
    display: flex;
    justify-content: space-between;
    padding-top: 30px; }
    .cart__check a {
      padding: 5px 80px;
      font-size: 13px; }
    .cart__check .continue {
      border: 1px solid #888; }
    .cart__check a:last-child {
      background-color: #000f;
      color: #ffff;
      text-decoration: none;
      padding: 5px 110px;
      margin-right: 30px; }

.top-brands {
  padding-top: 80px; }
  .top-brands h3 {
    text-align: center;
    margin: 0; }
  .top-brands__img {
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #888; }
  .top-brands__ranking {
    display: flex; }
    .top-brands__ranking--top {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      padding: 25px 0px; }
      .top-brands__ranking--top .number {
        font-size: 20px;
        font-weight: bold; }
      .top-brands__ranking--top .text {
        padding-left: 5px; }
        .top-brands__ranking--top .text h4 {
          margin: 0;
          text-transform: uppercase;
          font-weight: 100; }
        .top-brands__ranking--top .text p {
          margin: 0;
          font-size: 12px; }

.footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px; }
  .footer-content h3 {
    font-size: 13px;
    padding: 5px 0px;
    text-transform: uppercase; }
  .footer-content h4 {
    font-size: 12px; }
  .footer-content p {
    font-size: 10px;
    color: #bfb8b8;
    text-transform: uppercase; }
  .footer-content .ft-box {
    width: 35%; }
  .footer-content__about--shop {
    display: flex;
    height: 200px; }
    .footer-content__about--shop .shop-guide {
      width: 50%; }
  .footer-content__twitter--text {
    height: 200px; }
  .footer-content__twitter--store {
    display: flex; }
    .footer-content__twitter--store .store-text {
      padding-left: 10px; }
      .footer-content__twitter--store .store-text h3 {
        margin: 0; }
  .footer-content__fb {
    width: auto !important; }

.footer-connect {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px; }
  .footer-connect h3 {
    font-size: 13px; }
  .footer-connect__form {
    display: flex; }
    .footer-connect__form h3 {
      font-size: 13px;
      margin-right: 10px; }
    .footer-connect__form input {
      height: 25px;
      margin-top: 5px;
      text-indent: 5px; }
    .footer-connect__form i {
      font-size: 20px;
      margin: 11px 0px 0px -15px;
      color: #888; }
  .footer-connect__connect-us {
    display: flex;
    align-items: center; }
    .footer-connect__connect-us h3 {
      margin-right: 10px; }
    .footer-connect__connect-us i {
      padding: 4px 6px;
      background-color: #333;
      color: baclk;
      color: #000000;
      border-radius: 50%;
      font-size: 12px; }
      .footer-connect__connect-us i:not(:last-child) {
        margin-right: 6px; }

.footer-bottom {
  display: flex;
  justify-content: space-between; }
  .footer-bottom__left p {
    text-transform: uppercase;
    font-size: 12px; }
  .footer-bottom__right {
    display: flex; }
    .footer-bottom__right i {
      font-size: 30px;
      align-items: center;
      display: flex;
      color: #333; }
      .footer-bottom__right i:not(:last-child) {
        margin-right: 25px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%; } }

/*# sourceMappingURL=cart.css.map */
