.main-category {
  display: flex;
  &__sidebar {
    width: 20%;
    h3 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      color: #333;
    }
    i {
      font-size: 13px;
      color: #333;
    }
    h4 {
      font-size: 13px;
      color: #333;
      font-weight: bold;
    }
    li {
      list-style: none;
      color: #333;
    }
    &--menu-women {
      border: 1px solid #eee;
      padding: 10px;
      .title {
        display: flex;
        justify-content: space-between;
      }
      .list-women {
        ul {
          padding: 20px 0 0 20px;
          margin: 0;
          li {
            font-size: 13px;

            font-weight: bold;

            &:not(:last-child) {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
    &--menu-category {
      margin-top: 20px;
      .group-category {
        border: 1px solid #eee;
        padding: 10px;
      }
      p {
        margin: 0;
        padding: 10px 0;
        font-size: 10px;
        color: #888;
      }
      .title {
        display: flex;
        justify-content: space-between;
      }
      .list-category {
        padding-left: 20px;
        h4 {
        }
        ul.list {
          padding-left: 15px;
          li {
            font-size: 12px;
            padding-bottom: 10px;
          }
        }
      }
    }
    &--size {
      border: 1px solid #ddd;
      padding: 10px;
      margin-top: 20px;
      .title {
        display: flex;
        justify-content: space-between;
      }
      .list-size {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #543e3e;

        .checkboxFive {
          padding: 5px 0;
        }
      }
    }
  }
  &__content {
    width: 80%;
  }
}
