ul{
    border-bottom:none !important;
}
.main-slider {
  width: 100%;
  height: 350px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  &__content {
    color: #000f;
    p {
    }
    h3 {
    }
    a {
    }
  }
  &__menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
    label {
      cursor: pointer;
      display: inline-block;
      width: 16px;
      height: 5px;
      background: #fff;
      margin: 0 0.2em 1em;
      transition: all 0.3s ease;
      &:hover {
        background: red;
      }
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
    .slider-content {
      transform: translateY(50%) translateX(180%);
      width: 450px;
      p {
        font-size: 15px;
        margin: 0;
      }
      h3 {
        font-size: 30px;
        margin: 0;
        padding: 15px 0 20px 0;
      }
      a {
        text-decoration: none;
        padding: 10px 25px;
        font-size: 13px;
        background-color: #000f;
        color: #fff;
      }
    }
  }

  .slide-1 {
    background-image: url("./../../../TheShop-master/PSD_desktop/img_home/img_hbannertop.jpg");
  }
  .slide-2 {
    background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
  }
  .slide-3 {
    background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
  }
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
.blog-hot {
  text-align: center;
  h3 {
  }
  &__new {
    display: flex;
    justify-content: space-between;
    &--box {
      width: 100%;
      height: 100%;
      h3 {
        font-size: 17px;
        font-weight: normal;
        margin: 0;
        padding: 10px 0 5px 0;
      }
      p {
        margin: 0;
        font-size: 10px;
      }
    }
  }
  &__popular {
    margin-top: 40px;
    display: flex;
    &--produc-hot {
      width: 70%;
      text-align: left;
      h3 {
        text-align: left;
        padding: 0 0 20px 5px;
        margin: 0;
        font-weight: normal;
      }
      .popular-box {
        display: flex;
        padding-right: 20px;
        .box-hot {
          width: 33.3%;
          padding: 5px;
          .title {
            text-align: center !important;
            padding: 5px;
            h3 {
              font-size: 13px;
              font-weight: normal;
              text-align: center !important;
              margin: 0;
              padding: 5px 0;
            }
            p {
              margin: 0;
              font-size: 11px;
            }
          }
        }
      }
    }
    &--our {
      width: 30%;
      border: 1px solid #888;
      h3 {
        margin: 0;
        padding: 12px;
        font-weight: normal;
      }
      .our-trend {
        padding: 0 30px;
        text-align: left;

        .box-our {
          position: relative;
          margin-bottom: 15px;
          .our-text {
            width: 50%;
            position: absolute;
            background-color: #fff;
            right: 0px;
            bottom: 4px;
            padding: 10px 0 10px 10px;
            text-align: left;
            h3 {
              font-size: 12px;
              font-weight: normal;
              margin-bottom: 5px;
              padding: 0;
            }
            p {
              font-size: 9px;
              font-weight: normal;
              margin: 0;
              color: #888;
            }
          }
        }
        .read-more {
          h3 {
            padding: 0;
            margin-bottom: 20px;
            text-align: right;
            font-size: 13px;
            font-weight: bold;
            color: #4e4747;
          }
        }
      }
    }
  }
}
