//header//
*{
  font-family: Myriad Pro;
  h3 {
    font-family: serif;
  }
  
}
// content //

.content {
  a{
    color: #000f;
    text-decoration: none;
  }
  display: flex;
  &__blog {
    width: 75%;
    padding: 0 35px 0 0;
    &--box {
      &:not(:last-child){
        border-bottom: 1px solid #000f;
      }
      
      padding: 20px 0px;
      .title {
        width: 50%;
        h3 {
          text-transform: uppercase;
          font-weight: normal;
          margin-bottom: 10px;
        }
        .day {
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 8px;
        }
      }
      img {
        width: 100%;
        height: 360px;
      }
      .box-content {
        margin-top: 20px;
        p {
          color: #c2c2c2;
          font-size: 15px;
          margin-bottom: 20px;
        }
        &:not(:last-child){
          border-bottom: 2px solid #000000;
        }
      }

      
    }
    &--older {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px; 
      p {
        font-size: 13px;
        i {
          padding-left: 10px;
        }
      }
    }
  }
  &__sidebar {
    
    width: 25%;
    padding: 20px 0px;
    &--categories { display: block;
      border: 1px solid #eee;
      padding: 20px;display: block;
      .title{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .icon-toggle{
          display: none;
        }
      }
      
      h3 {
        font-weight: 100;
        font-size: 15px;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          padding: 8px 0;
          text-transform: uppercase;
          font-size: 13px;
        }
      }
    }
    &--labels {
      border: 1px solid #eee;
      margin-top: 20px;
      padding: 20px;
      h3{
        margin-bottom: 10px;
    font-weight: normal;
    font-family: sans-serif;  
             }
      p {
        font-size: 12px;
        line-height: 22px;
        .font12 {
          font-size: 12x;
        }
        .font18 {
          font-size: 18x;
        }
        .font12 {
          font-size: 14x;
        }
      }
    }
  }
}
//top-brands //

//end desktop //

//responsive //
@media only screen and (min-width: 320px) and (max-width: 759px) {
  .content{
    
    &__sidebar{
      &--categories{
        display: block!important  ;

        ul{
          display: block!important;
        }
        .title{
          .icon-toggle{
            display: block;
          }
        }
      }

    }
  }
}
//responsive //
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .content{
    
    &__sidebar{
      &--categories{
        display: block!important  ;

        ul{
          display: block!important;
        }
        .title{
          .icon-toggle{
            display: block;
          }
        }
      }

    }
  }
}
//header//
// .header {
//     &__right {
//       ul {
//         li {
//         }
//       }
//     }
//     h3 {
//     }
//     &__left {
//       ul {
//         li {
//         }
//       }
//     }
//   }
//   //header-top//
//   .header-top {
//     &__logo {
//       &--text {
//         h1 {
//         }
//       }
//       &--right {
//         a {
//           i {
//           }
//           span {
//           }
//         }
//       }
//     }
//   }
//   //menu//
//   .header-menu {
//     ul {
//       li {
//       }
//     }
//     &__icon {
//       i {
//       }
//     }
//   }
//   //navigation//
//   .navigation {
//     a {
//     }
//   }
//   // content //
//   .content {
//     &__blog {
//       &--box {
//         .title {
//           h3 {
//           }
//           .day {
//           }
//         }
//         img {
//         }
//         .box-content {
//           p {
//           }
//         }
//       }
//       &--older {
//         p {
//         }
//       }
//     }
//     &__sidebar {
//       &--categories {
//         ul {
//           li {
//           }
//         }
//       }
//       &--labels {
//         p {
//         }
//       }
//     }
//   }
//   //top-brands //
//   .top-brands {
//     h3 {
//     }
//     &__img {
//     }
//     &__ranking {
//       &--top {
//         .number {
//         }
//         .text {
//         }
//       }
//     }
//   }
//   //footer //
//   .footer-content {
//     &__about {
//       &--shop {
//         .shop-guide {
//           p {
//           }
//         }
//         .help {
//           p {
//           }
//         }
//       }
//       &--us {
//         h3 {
//         }
//         p {
//         }
//       }
//     }
//     &__twitter {
//       &--store {
//         img {
//         }
//         .store-text {
//           p {
//           }
//         }
//       }
//     }
//     &__fb {
//       h3 {
//       }
//       img {
//       }
//     }
//     .footer-connect {
//       &__form {
//         p {
//         }
//         input {
//         }
//         i {
//         }
//       }
//       &__connec-us {
//         i {
//         }
//       }
//     }
//     .footer-bottom {
//       &__left {
//         p {
//         }
//       }
//       &__right {
//         p {
//         }
//       }
//     }
//   }
