ul {
  border-bottom: none !important;
}
.main-slider {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  &__content {
    color: #000f;

    h3 {
      font-family: serif;
    }
  }
  &__menu {
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100%;
    bottom: 0;
    label {
      cursor: pointer;
      display: inline-block;
      width: 16px;
      height: 5px;
      background: #fff;
      margin: 0 0.2em 1em;
      transition: all 0.3s ease;
      &:hover {
        background: #a78e8e;
      }
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
    .slider-content {
      transform: translateY(50%) translateX(10%);
      width: 100%;
      p {
        font-size: 15px;
        margin: 0;
      }
      h3 {
        margin: 0;
        padding: 15px 0 20px 0;
        letter-spacing: 3px;
        font-size: 36px;
        font-family: serif;
      }
      a {
        text-decoration: none;
        padding: 10px 25px;
        font-size: 13px;
        background-color: #000f;
        color: #fff;
      }
    }
  }

  .slide-1 {
    background-image: url("../img/img_hbannertop.jpg");
  }
  .slide-2 {
    background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
  }
  .slide-3 {
    background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
  }
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 98;
  transition: left 0.65s ease-out;
}
.blog-hot {
  text-align: center;
  &__hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    font-size: 20px;
    font-family: serif;
    margin: 20px 0;
    &:before {
      content: "";
      background: linear-gradient(#818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;

      padding: 0 60px;
      line-height: 1.5em;
      color: #000;
      background-color: #fcfcfa;
    }
  }
  &__new {
    display: flex;
    justify-content: space-between;
    &--box {
      width: 100%;
      height: 100%;
      h3 {
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        padding: 10px 0 5px 0;
      }
      p {
        margin: 0;
        font-size: 10px;
      }
      img {
        width: 100%;
      }
      &:not(:last-child) {
        padding-right: 15px;
      }
    }
  }
  &__popular {
    margin-top: 40px;
    display: flex;
    &--produc-hot {
      width: 70%;
      text-align: left;
      padding-right: 35px;
      .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: left;
        height: 1.5em;
        opacity: 0.5;
        font-size: 20px;
        font-family: serif;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          background: linear-gradient(#818078, transparent);
          top: 50%;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          color: #000;
          padding-right: 30px;
          line-height: 1.5em;
          background-color: #fcfcfa;
        }
      }
      .popular-box {
        display: flex;
        .box-hot {
          width: 33.3%;

          &:not(:last-child) {
            padding-right: 10px;
          }
          img {
            width: 100%;
          }

          .title {
            text-align: center !important;
            padding: 5px;
            h3 {
              font-size: 13px;
              font-weight: normal;
              text-align: center !important;
              margin: 0;
              padding: 5px 0;
            }
            p {
              margin: 0;
              font-size: 11px;
            }
          }
        }
      }
    }
    &--our {
      width: 30%;
      border: 1px solid #888;
      h3 {
        margin: 0;
        padding: 12px;
        font-weight: normal;
      }
      .our-trend {
        padding: 0 30px;
        text-align: left;

        .box-our {
          position: relative;
          margin-bottom: 15px;
          .our-text {
            width: 50%;
            position: absolute;
            background-color: #fff;
            right: 0px;
            bottom: 4px;
            padding: 10px 0 10px 10px;
            text-align: left;
            h3 {
              font-size: 12px;
              font-weight: normal;
              margin-bottom: 5px;
              padding: 0;
            }
            p {
              font-size: 9px;
              font-weight: normal;
              margin: 0;
              color: #888;
            }
          }
        }
        .read-more {
          h3 {
            padding: 0;
            margin-bottom: 20px;
            text-align: right;
            font-size: 13px;
            font-weight: bold;
            color: #4e4747;
          }
        }
      }
    }
  }
}
@media only screen and(min-width: 760px) and (max-width: 1028px) {
  .main-slider {
    width: 100%;
    height: 260px;
    .slide {
      .slider-content {
        transform: translateY(50%) translateX(10%);
        h3 {
          font-weight: normal;
          font-size: 30px;
        }
        a {
          padding: 8px 25px;
        }
      }
    }
  }
  .container {
    width: 95% !important;
    .popular-box {
      .box-hot:last-child {
        display: none;
      }
      .box-hot {
        width: 50%;
      }
    }
  }
}

@media only screen and(min-width: 320px) and (max-width: 759px) {
  .main-slider {
    .slide {
      .slider-content {
        text-align: left;
        transform: translateY(50%) translateX(50%);
        width: 70%;
        h3{
          font-weight: normal;
    font-size: 25px;
        }
        a{
          font-size: 11px;
          padding: 10px 10px;
        }
        p{
          display: none;
        }
      }
    }
  }

  .blog-hot {
    width: 75%!important;
    
    &__hr-text {
      &::after {
        padding: 0 20px;
      }
    }
    &__new {
      display: block;
      &--box {
        display: flex;
        padding: 0 0 15px 0 !important;
        
        img {
          width: 50%;
          height: 50%;
        }
        .title{
          padding-left:15px; 
        }
      }
    }
    &__popular {
      display: block;
      &--produc-hot {
        width: 100%;
        padding: 0;
        .popular-box {
          .box-hot {
            width: 50%;
            margin: 0 auto;
            margin-bottom: 20px;
            &:not(:last-child) {
              display: none;
            }
          }
        }
      }
      &--our{
        width: 100%;
        .our-trend{
          .box-our:first-child{
            display: none;
          }
        }
      }
    }
  }
}
