.detail-product {
  &__review-content {
    margin-bottom: 20px;
    display: flex;
    .box-left {
      width: 65%;
      margin-right: 30px;
      .view-top {
        display: flex;
        margin-bottom: 20px;
        &__view-img {
          width: 15%;
          margin-right: 20px;
          .icon {
            text-align: center;
            margin-bottom: 5px;
            .fa-angle-left,
            .fa-angle-right {
              display: none;
            }
            i {
              font-size: 30px;
            }
          }
          img {
            width: 100%;
            margin-bottom: 5px;
          }
          .seach {
            text-align: center;
            margin-top: 15px;
            i {
              font-size: 20px;
              color: #ddd;
            }
          }
        }
        &__zoom-img {
          width: 85%;
          img {
            width: 100%;
            height: 670px;
          }
        }
      }

      .related {
        &__title {
          display: flex;
          margin-bottom: 25px;
          .hr-text {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: left;
            height: 1.5em;
            opacity: 0.5;
            font-size: 20px;
            font-family: serif;
            width: 90%;
            margin: 0;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              background: linear-gradient(#818078, transparent);
              top: 50%;
              width: 100%;
              height: 1px;
            }
            &::after {
              content: attr(data-content);
              position: relative;
              display: inline-block;
              color: #000;
              padding-right: 30px;
              line-height: 1.5em;
              background-color: #fcfcfa;
            }
          }
          .icon {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;
            i {
              font-size: 25px;
            }
          }
        }
        &__list-item {
          display: flex;
          .item {
            width: 25%;
            &:not(:last-child) {
              margin-right: 15px;
            }
            .avatar {
              img {
                width: 100%;
              }
            }
            h4 {
              font-family: serif;
              font-size: 12px;
              text-align: center;
              margin-bottom: 5px;
            }
            p {
              text-align: center;
              font-size: 13px;
              i {
                font-size: 11px;
              }
            }
          }
        }
      }
    }

    .box-right {
      width: 35%;
      &__panigation-top {
        display: flex;
        justify-content: flex-end;
        p {
          display: flex;
          align-items: center;
          span {
            font-size: 13px;
            padding: 0 10px;
          }
        }
      }
      &__title {
        margin-bottom: 15px;
        .code {
          p {
            font-size: 10px;
            color: #888;
          }
        }
        h3 {
          font-weight: normal;
        }
      }
      &__review {
        .star {
          margin-bottom: 10px;
          .fa:not(:last-child) {
            color: #efef23;
            font-size: 13px;
          }

          display: flex;

          .text {
            display: flex;
            margin-left: 15px;
            font-size: 12px;
            p {
              font-family: aria;
              padding: 0px 5px;
              &:last-child {
                border-left: 1px solid #ddd;
              }
            }
          }
        }
        .availabilty {
          margin-bottom: 15px;
          font-size: 12px;
          p {
            font-family: aria;
            color: #333;
            &:first-child {
              margin-bottom: 5px;
            }
            span {
              color: #dfdf07;
            }
          }
        }
      }
      &__total {
        margin-bottom: 15px;
        p {
          letter-spacing: 2px;
          font-size: 15px;
          color: #333;
        }
      }
      &__detail-view {
        margin-bottom: 10px;
        padding-bottom: 25px;
        border-bottom: 1px solid #eee;
        .item-toggle {
          display: flex;
          border: 1px solid #eee;
          justify-content: space-between;
          padding: 5px 10px;
          border-radius: 15px;
          background-color: #f1f0f0ab;
          font-size: 13px;
          margin-bottom: 5px;
          width: 100%;
        }
        .q-ty {
          width: 30%;
          margin-bottom: 20px;
        }
        .button-product {
          display: flex;
          justify-content: space-between;
          .button {
            width: 45%;
            font-size: 13px;
            text-align: center;
            padding: 6px 0;
            a {
              text-decoration: none;
            }
          }
        }
        .add-cart {
          background-color: #000f;

          a {
            color: #ffff;
          }
        }
        .wishlist {
          border: 1px solid #eee;
          a {
            color: #000f;
          }
        }
      }
      &__introduce {
        margin-bottom: 60px;
        .title {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          p {
            font-size: 13px;
            font-family: serif;
          }
        }
        .description {
          padding-bottom: 10px;
          border-bottom: 1px solid #eee;
          .des-conten {
            p {
              font-size: 13px;
              font-family: aria;
              color: #333;
            }
          }
          .title {
            margin-bottom: 10px;
          }
        }
        .additionnal,
        .tags {
          padding: 10px 0;
          border-bottom: 1px solid #eee;
        }
        .share {
          display: flex;
          padding: 5px 0;
          .title {
            display: flex;
            align-items: center;
          }

          .icon {
            margin-left: 20px;
            i {
              background-color: #333;
              color: #fff;
              border-radius: 50%;
              font-size: 12px;
            }
            .fa-twitter {
              padding: 5px 5px;
            }
            .fa-facebook {
              padding: 5px 7px;
            }
          }
        }
      }
      .related {
        &__reviews {
          border: 1px solid #eee;
          padding: 10px 5px;
          .title-top {
            text-align: center;
            margin-bottom: 15px;
            h3 {
              font-weight: normal;
            }
          }
          .list-evaluate {
            &__item {
              margin-bottom: 5px;
              background-color: #eee;
              padding: 20px;
              .title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                p {
                  font-size: 12px;
                  font-weight: bold;
                }
                .icon-star {
                  font-size: 12px;
                  .fa:not(:last-child) {
                    color: #dfdf07;
                  }
                  .fa:last-child {
                    color: #fff;
                  }
                }
              }
              .content {
                margin-bottom: 10px;
                p {
                  font-size: 13px;
                  font-family: arial;
                  color: #333;
                }
              }
              .detail-user {
                display: flex;
                justify-content: space-between;
                p {
                  font-family: arial;
                  font-size: 12px;
                  color: #333;
                }
              }
            }
          }
          .button-review {
            margin: 15px 0 0 0;
            display: flex;
            justify-content: flex-end;
            a {
              text-decoration: none;
              color: #fff;
              padding: 10px 20px;
              background-color: #000f;
              font-size: 12px;
            }
          }
        }
        &__product-mb {
          display: none;
        }
      }
    }
  }
}

@media only screen and(min-width: 760px) and (max-width: 1360px) {
  .detail-product {
    &__review-content {
      .box-left {
        width: 60%;
        .view-top {
          flex-direction: column-reverse;
          padding: 0;
          &__zoom-img {
            width: 100%;
            margin: 0 0 5px 0;
            img {
              height: 600px;
            }
          }
          &__view-img {
            justify-content: space-between;
            width: 100%;
            display: flex;
            margin: 0;
            .seach {
              display: none;
            }

            .icon {
              display: flex;
              align-items: center;
              .fa-angle-left,
              .fa-angle-right {
                display: block;
              }
              .fa-angle-up,
              .fa-angle-down {
                display: none;
              }
            }
            img {
              width: auto;
            }
          }
        }
        .related {
          &__title {
            .icon {
              display: none;
            }
            .hr-text {
              width: 100%;
            }
          }
          &__list-item {
            .item {
              width: 33.33%;
            }
            .item:first-child {
              display: none;
            }
          }
        }
      }
      .box-right {
        width: 40%;
      }
    }
  }
}
@media only screen and(min-width: 320px) and (max-width: 425px) {
  .detail-product {
    &__review-content {
      display: block;
      .box-left {
        margin-bottom: 15px;
        width: 100%;

        padding: 0;
        .view-top {
          flex-direction: column-reverse; width: 100%;
          margin: 0 auto;
          &__zoom-img {
            width: 100%;
            padding: 0;
            margin: 0 0 5px 0;
            img {
              height: 430px;
            }
          }
          &__view-img {
            justify-content: space-between;
            width: 100%;
            display: flex;
            padding: 0;
            margin: 0;
            img:nth-child(4) {
              display: none;
            }
            .seach {
              display: none;
            }

            .icon {
              display: flex;
              align-items: center;
              .fa-angle-left,
              .fa-angle-right {
                display: block;
              }
              .fa-angle-up,
              .fa-angle-down {
                display: none;
              }
            }
            img {
              width: auto;
            }
          }
        }
        .related {
          display: none;
        }
      }
      .box-right {
        width: 100%;
        &__panigation-top {
          display: none;
        }
        .related {
          &__product-mb {
            display: block;
            margin-top: 20px;
            .title {
              margin-bottom: 20px;
              .hr-text {
                line-height: 1em;
                position: relative;
                outline: 0;
                border: 0;
                color: black;
                text-align: left;
                height: 1.5em;
                opacity: 0.5;
                font-size: 20px;
                font-family: serif;
                width: 100%;
                margin: 0;
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  background: linear-gradient(#818078, transparent);
                  top: 50%;
                  width: 100%;
                  height: 1px;
                }
                &::after {
                  content: attr(data-content);
                  position: relative;
                  display: inline-block;
                  color: #000;
                  padding-right: 15px;
                  line-height: 1.5em;
                  background-color: #fcfcfa;
                }
              }
            }
            .list-item {
              display: flex;
              justify-content: space-between;
              &__item {
                width: 47%;
                .avatar {
                  text-align: center;
                }
                h4 {
                  font-size: 12px;
                  font-family: none;
                  font-weight: normal;
                  text-align: center;
                }
                p {
                  font-size: 13px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(min-width: 425px) and (max-width: 760px) {
  .detail-product {
    &__review-content {
      display: block;
      .box-left {
        margin-bottom: 15px;
        width: 100%;

        padding: 0;
        .view-top {
          flex-direction: column-reverse; width: 70%;
          margin: 0 auto;
          &__zoom-img {
            width: 100%;
            padding: 0;
            margin: 0 0 5px 0;
            img {
              height: 430px;
            }
          }
          &__view-img {
            justify-content: space-between;
            width: 100%;
            display: flex;
            padding: 0;
            margin: 0;
            img:nth-child(4) {
              display: none;
            }
            .seach {
              display: none;
            }

            .icon {
              display: flex;
              align-items: center;
              .fa-angle-left,
              .fa-angle-right {
                display: block;
              }
              .fa-angle-up,
              .fa-angle-down {
                display: none;
              }
            }
            img {
              width: auto;
            }
          }
        }
        .related {
          display: none;
        }
      }
      .box-right {
        width: 100%;
        &__panigation-top {
          display: none;
        }
        .related {
          &__product-mb {
            display: block;
            margin-top: 20px;
            .title {
              margin-bottom: 20px;
              .hr-text {
                line-height: 1em;
                position: relative;
                outline: 0;
                border: 0;
                color: black;
                text-align: left;
                height: 1.5em;
                opacity: 0.5;
                font-size: 20px;
                font-family: serif;
                width: 100%;
                margin: 0;
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  background: linear-gradient(#818078, transparent);
                  top: 50%;
                  width: 100%;
                  height: 1px;
                }
                &::after {
                  content: attr(data-content);
                  position: relative;
                  display: inline-block;
                  color: #000;
                  padding-right: 15px;
                  line-height: 1.5em;
                  background-color: #fcfcfa;
                }
              }
            }
            .list-item {
              display: flex;
              justify-content: space-between;
              &__item {
                width: 47%;
                .avatar {
                  text-align: center;
                }
                h4 {
                  font-size: 12px;
                  font-family: none;
                  font-weight: normal;
                  text-align: center;
                }
                p {
                  font-size: 13px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
