//header-top//
.header-top {
  &__logo {
    display: flex;
    position: relative;
    &--text {
      text-align: center;
      width: 100%;
      h1{
        font-weight: normal;
        font-family: serif;
      }
    }
    &--right {
      padding: 30px 0px;
      position: absolute;
      right: 0;
      a {
        border-left: 1px solid #c7b9b9;
        color: #130e0e;
        font-size: 13px;
        padding: 0px 10px;
        .fa-shopping-bag {
          color: white;
          background-color: black;
          padding: 5px 6px 7px 6px;
          border-radius: 50%;
        }
        .fa-search{
            font-size: 15px;
        }
        
      }
    }
  }
}
@media only screen and(min-width: 760px) and (max-width: 1028px) {
  .header-top {width: 100%;
       &__logo {display: block;
         &--text {
           h1 {
           }
         }
         &--right {padding: 0;
          width: 90%;
          display: flex;
          justify-content: space-between; 
           a:first-child {    padding: 6px 10px;
             i {
             }
             span {
             }
           }
           
         }
       }
     }
    }

    @media only screen and(min-width: 320px) and (max-width:759px) {
      .header-top {width: 100%;
        &__logo {display: block;
          &--text {
            h1 {
            }
          }
          &--right {padding: 0;
            width: 85%;
           display: flex;
           justify-content: space-between; 
            a:first-child {    padding: 6px 10px;
              i {
              }
              span {
              }
            }
            a:last-child{
              display: none;
            }
          }
        }
      }

    }
