//navigation//
.navigation {
  border-top: 1px solid #eee; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    a {
      font-family: Arial;
      font-size: 12px;
      padding: 5px 0;
      color: #888;
      i{
        margin-right: 10px;
      }
    }
  }